@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:wght@400;600;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
}